.image {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    margin-right: 10px;
}

.item_link {
    display: flex;
    align-items: center;
    border-radius: 5px;
    border: 1px solid black;
    padding: 10px;
}

p {
    margin: 0;
}

li {
    margin-bottom: 10px;
    transition-duration: 0.5s;
}

li:last-child {
    margin-bottom: 0;
}