.friendlist {
    padding: 0;
    margin: 0;
}

.friendlist__item {
    border: 2px solid #bd9354;
    border-radius: 10px;
    padding: 10px;
    display: flex;
}

.item__avablock {
    width: 56px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 15px;
}

.item__image {
    border-radius: 10px;
    margin-bottom: 5px;
    width: 50px;
    height: 50px;
}

.item__button {
    width: 65px;
    border: none;
    border-radius: 5px;
    background-color: #e3d18a;
    cursor: pointer;
    transition-duration: 0.2s;
    outline-color: #bd9354;
}

.item__button:hover {
    opacity: 0.8;
}

.item__button:active {
    transform: scale(0.9);
}

.item__infoblock {
    display: flex;
    margin-right: 15px;
    min-width: 240px;
}

.item__bio h2 {
    margin: 0;
}

.item__status {
    padding: 8px;
    flex-grow: 1;
    background-color: #fdf1d6;
    border-top-right-radius: 10px;
    border-left: 2px solid #bd9354;
}
