.messages_list {
    padding: 0;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.messageTextarea_wrapper {
    margin-left: 25px;
    width: 60%;
}

.messageTextarea {
    margin-bottom: 15px;
}

.messageTextarea textarea {
    box-sizing: border-box;
    width: 100%;
}